<div class="jumbotron">
  <h2>Hello, <%= current_user.email%></h2>
  <p>You are logged into a client demo site powered by ShoCard.</p>
  <p>You can do a few things:
    <%= link_to "Edit your account", edit_user_registration_path%> or
    <%= link_to "Sign out", destroy_user_session_path, :method => :delete %><br/>
  </p>
</div>

